header {
  background-image: url(../images/main_2529_image4.png);
  padding-left: none;
  height: 300px;
}
.img {
  width: 125px;
}
.container {
  margin: auto;
  max-width: 2560px;
  min-width: 1440px;
}
nav ul {
  padding-left: 0;
  flex-direction: row;
}
nav ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-left: 1px solid #7e8aa2;
}
.Nav {
  padding: 10px;

}

.navLinks{
  display: flex;
  justify-content: center;
  align-items: center;
}